body
{
    background-color:#e0dfdf;
}
#ludo
{
    background-color:#f78c0f;
    background-image: linear-gradient(to top,#904f03,#c66c03,#d97908,#e5881c,#f78c0f);
    border:4px solid #693a03;
    border-radius: 25px;
    width:390;
    height:480;
    position:absolute;
    left:450;
    top:50;
    padding: 20 20 20 20;
}
#ludo_in
{
    background-color:white;
}
#ludo table td
{
    border:1px solid black;
    width:30px;
    height:30px;
    
}
.red
{
    background-color: #cb0606;
}
.green
{
    background-color: #05711a;
}
.yellow
{
    background-color: #e3d204;
}
.blue
{
    background-color: #14017c;
}
.blueguti
{
    width:15;
    height:15;
    background-color:#795bdd;
    border:1px solid white;
    border-radius:20px;
}
.redguti
{
    width:15;
    height:15;
    background-color:#f82b2b;
    border:1px solid white;
    border-radius:20px;
}
.yellowguti
{
    width:15;
    height:15;
    background-color:#f8f80c;
    border:1px solid white;
    border-radius:20px;
}
.greenguti
{
    width:15;
    height:15;
    background-color:#09f700;
    border:1px solid white;
    border-radius:20px;
}
#player1
{
    width:200;
    height:200;
    position:fixed;
    bottom: 20;
    left:20;
    padding:20;
    border:2px solid #0b0b0b;
    border-radius:20px;
    
}
#player2
{
    width:200;
    height:200;
    position:fixed;
    bottom: 20;
    right:20;
    padding:20;
    border:2px solid #0b0b0b;
    border-radius:20px;
    
    
}
h3
{
    color:#25015f;
}
#player2result
{
    position:absolute;
    right:10px;
    top:5px;
}
#redscore , #yellowscore
{
    position:absolute;
    right:30;
}
#start
{
     position:absolute;
    right:670px;
    bottom:10px;
    border:1px solid black;
}
#stop
{
     position:absolute;
    right:670px;
    bottom:10px;
    border:1px solid black;
}
#button1,#button2
{
    display:none;
}
#player1dice
{
    font-size:60px;
    color:red;
}
#player2dice
{
    font-size:60px;
    color:red;
}
#home
{
    color:#740b74;
    font-size:20;
}
.whitecircle
{
    width:30;
    height:30;
    background-color: white;
    border:2px solid white;
    border-radius:20px;
    z-index:0;
}
#wc1
{
    position:absolute;
    left:496;
    top:109;
}
#wc2
{
    position:absolute;
    
    left: 575; top: 109
}
#wc3
{
    position:absolute;
    left: 496; top: 205;
}
#wc4
{
    position:absolute;
    left:575;
    top:205;
}
#wc5
{
    position:absolute;
    
left: 725; top: 110;
}
#wc6
{
    position:absolute;
    
left: 815; top: 110;
}
#wc7
{
    position:absolute;
    left: 725; top: 205;
}
#wc8
{
    position:absolute;
   
left: 815; top: 205;
}
#wc9
{
    position:absolute;
    left:496;
    top:407;
}
#wc10
{
    position:absolute;
    left:575;
    top:407;
}
#wc11
{
    position:absolute;
    left:496;
    top:497;
}
#wc12
{
    position:absolute;
    left:575;
    top:497;
}
#wc13
{
    position:absolute;
    left:725;
    top:407;
}
#wc14
{
    position:absolute;
    left:815;
    top:407;
}
#wc15
{
    position:absolute;
    left:725;
    top:497;
}
#wc16
{
    position:absolute;
    left:815;
    top:497;
}

#scrollup
{
     position:absolute;
    left:206;
    top:280;
}

#xycoordinate
{
    position:absolute;
    left:1007 ;
    top:189 ;
    background-color:#f2f26f;
    width:200;
    height:150;
    display:block;
    text-align:center;
    padding:20 20 20 20;
    max-height: 150;
}
#xycoordinate h4
{
    color:green;
}

#rules
{
    position:absolute;
    left:192;
    top:126;
    width:150;
    height:135;
    background-color: #f29d3b;
    background-image: linear-gradient(to top,#904f03,#c66c03,#d97908,#e5881c,#f78c0f);
    color: #fad404;
    border:4px solid #6f400a;
    border-radius:25px;
    text-align: center;
}
#startpopup
{
    background-color:black;
    opacity:0.8;
    
    position:absolute;
    top:0;
    left:0;
}
#popupmsg
{
    color:red;
    opacity:1;
    background-color:white;
    position:absolute;
    left:453;
    top:225;
    padding:20;
    font-weight: 400;
    font-size: 25;
    line-height:40px;
}